::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */}
::-webkit-scrollbar-thumb {
  background-color: #dc3545; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.app .container {
  box-shadow: 1px 1px 17px gray;
}
@media all and (min-width: 0px) and (max-width: 576px) {
  .app .container {
    /* background: url("./Components/images/img1.png") no-repeat; */
    margin-top: -40px;
  }
}

.app .container {
  padding: 15px;
  margin-bottom: 40px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}
