.nav-link:focus {
  color: #dc3545 !important;
  border-bottom: 1px solid #dc3545;
  padding-bottom: 4px;
}
@media all and (min-width: 0px) and (max-width: 576px) {
  .navbar-collapse {
    background-color: white;
  }
}
